Checks: >
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  misc-*,
  readability-identifier-naming,
  - readability-magic-numbers,
  - readability-function-cognitive-complexity,
  - readability-else-after-return,
  - misc-include-cleaner,
  - misc-no-recursion, 
  - modernize-macro-to-enum,
  - bugprone-easily-swappable-parameters,
  - bugprone-implicit-widening-of-multiplication-result

HeaderFilterRegex: '.*'          # Check .h files as well

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: "1"                   # Disable minimum variable name length
  - key: readability-identifier-length.MinimumParameterNameLength
    value: "1"                   # Disable minimum parameter name length
  - key: readability-identifier-naming.ParameterCase
    value: lower_case            # Function parameters <- foobarbaz
  - key: readability-identifier-naming.FunctionCase
    value: Camel_Snake_Case      # Function names <- Foo_Bar_Baz
  - key: readability-identifier-naming.EnumCase
    value: CamelCase             # Enum typedefs <- FooBarBaz
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE            # Enum element <- FOO_BAR_BAZ
  - key: readability-identifier-naming.StructCase
    value: CamelCase             # Struct typedefs <- FooBarBaz